body {
    background: linear-gradient(135deg, orange 60%, cyan);
    margin: 0;
    padding: 0;
  }

 .container{
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 30px;
    /* margin: 250px; */
    background-color:white;
    border: 1px solid black;
 }
 .container:hover{
    border: 2px solid black;
 }
 input {
    size: 20px;
    font-size: 18px;
    margin: 10px 22px;
    padding: 13px 24px;
    border: 1px;
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 5px;
}

label{
    font-family: -webkit-pictograph;
    font-weight:bolder;
  
}

button {
    padding: 13px 30px;
    font-size: medium;
    border: 1px;
    background-color: black;
    color: white;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
}

.fa, .fas {
    font-weight: 900;
    /* font-size: xxx-large; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
    font-size: 9rem;
    filter: invert();
    animation-timing-function: ease-in-out;
    animation-duration:4s;
    animation-name:zoomOut ;
 }
 @keyframes zoomOut {
     from{
         font-size: 9rem;
         top: 200px;
         filter: invert();
         
     }
     to{
         font-size: 12rem;
         top: 150px;
         filter: invert(0);

     }
     
 }

